{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achat Client</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><img src="{% static 'IMAGES/EZK_WHITE.png' %}" alt="EZK" title="EZK" /></li>
          <li><a href="{% url 'myapp:entre' %}">ENTRE</a></li>
          <li><a href="{% url 'myapp:stock' %}">STOCK</a></li>
          <li><a href="{% url 'myapp:sortie' %}">SORTIE</a></li>
          <li>
            TREICHVILLE&nbsp;<ion-icon name="caret-down-outline"></ion-icon>
          </li>
        </ul>
      </nav>
      <div class="after"></div>
    </header>
    <main>
      <section>
        <div class="left">
            <h2><a href="{% url 'myapp:list_client' %}">LISTE DES CLIENTS</a></h2>
            <h2><a href="{% url 'myapp:credit' %}">CREDIT</a></h2>
            <h2><a href="{% url 'myapp:transaction' %}">TRANSACTION</a></h2>
        </div>
        <div class="right">
          <form action="{% url 'myapp:achat' client.idClient %}" method="post">
            {% csrf_token %}
          <table
            class="table"
            border="2"
            align="center"
            style="border-collapse: collapse"
          >
            <thead>
              <tr>
                <td><label for="montant_verse">MONTANT VERSE</label></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-style: italic;"><input type="number" name="montant_paye" required id="montant_verse" oninput="calculer()" placeholder="Montant versé du client"></td>
              </tr>
            </tbody>
          </table>
          <div class="resultat">
            <div class="all" style="margin-right: 20px">
              <label
              align="center"
              for="date"
              style="font-weight: bold; font-size: 25px"
              >Date :
              </label>
              <input
              type="date"
              id="date"
              align="center"
              required
              name="date"
              style="font-size: 20px"
              />&nbsp;&nbsp;
              <label for="nombre_de_lignes" id="label">Nombre de ligne : </label>
              <input type="number" name="nombre_de_lignes" id="nombre_de_lignes">&nbsp;&nbsp;
              <input required type="button" id="addRowBtn" value="Ajouter">&nbsp;&nbsp;
              <br><br>
              {% if quantite_null %}
                <h4>{{quantite_null}}</h4>
              {% endif %}
              <table id="tableID">
                <thead>
                  <tr>
                    <td><label>Nature</label></td>
                    <td><label>Marque</label></td>
                    <td><label>Numero</label></td>
                    <td><label>Details</label></td>
                    <td><label>Prix</label></td>
                    <td><label >Quantite</label></td>
                    <td><label>Montant</label></td>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <div class="ui">
                <input type="reset" class="annuler" value="Annuler" />
                <input type="submit" class="save" value="Enregistrer" />
              </div>
            </div>
          </form>
            <div class="total">
              <span>TOTAL</span>
              <div class="boite"> <span id="resul"></span></div>
              <span>Reste</span>
              <div class="boite" style="background-color: green; color: #fff">
                <span id="reste"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="{% static 'JS/achat.js' %}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
